<div class="row border rounded pb-3" *ngIf="boat">
  <h2 class="w-100 text-center"> {{ this.boat.name }} <button type="button" (click)="getModal()" class="btn"><i class="material-icons">build</i></button> </h2>
  <div class="container">
    <div class="row">
      <strong class="col-md-3 text-right">Id</strong>
      <div class="col-md-6 offset-md-3 text-left">{{ this.boat.id }}</div>
    </div>

    <div class="row">
      <strong class="col-md-3 text-right">Description</strong>
      <div class="col-md-6 offset-md-3 text-left">{{ this.boat.desc }}</div>
    </div>
  </div>

  <modal-modify [boat]="boat" (retboat)="onSaveChange($event)"></modal-modify>
</div>

<small class="form-text text-success w-100 text-center" *ngIf="messageModifySuccess">Properly updated</small>
